---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span></h1>
	<!-- TO DO
		add a back arrow in here somewhere
		doesn't actually have to be a back arrow
		can just point back to main page
		
		fix that  header too.. it's bigger than the site header
	-->
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
